body {
    margin:         0;
    padding:        0;
    color:          #343434;
    font:           13px arial;
    background:     transparent url(../img/body-bg.png);
}

a {
    color:              #205aaf;
    text-decoration:    none;
}

a img {
    border:     0;
}
a:hover {
    color:      #343434;
}
#wrapper {
    padding-top:    7px;
    background:     transparent url(../img/colorbar.png) repeat-x top left;
}



#container1 {
    background:     transparent url(../img/header-bg.png) repeat-x top left;
    position:       relative;
}

#gradient {
    position:       absolute;
    top:            0;
    left:           0;
    right:          0;
    bottom:         0;
    background:     transparent url(../img/gradient.png) no-repeat 50% -100px;
    z-index:        0;
    height:         650px;
}

#header {
    height:         225px;
    position:       relative;
    margin:         0 auto;
    width:          930px;
    z-index:        10;
}

#header h3 {
    font-family:    'Droid Sans', arial;
    font-weight:    normal;
    color:          #898989;
    position:       absolute;
    padding-top:    15px;
    bottom:         90px;
    right:          -22px;
    font-size:      21px;
    background:     transparent url(../img/map-icon.png) no-repeat bottom right;
    height:         21px;
    line-height:    21px;
    margin:         0;
    width:          555px;
    z-index:        99;
}

#header h3 a {
    color:          #898989;
    padding-right:  45px;
    position:       absolute;
    z-index:        99;
}
#logo {
    position:       absolute;
    bottom:         20px;
    left:           -20px;
    z-index:        99;
}

#nav1 {
    margin:         0;
    padding:        0;
    position:       absolute;
    right:          0;
    bottom:         40px;
    z-index:        99;
}

#nav1 li {
    position:       relative;
    list-style:     none;
    margin:         0 0 0 6px;
    padding:        0;
    float:          left;
    background:     transparent url(../img/nav-button-left-sprite.png) no-repeat top left;
}
#nav1 li a {
    display: block;
    background-image:       url(../img/nav-button-sprite.png);
    background-repeat:      no-repeat;
    background-position:    top right;
    height:                 31px;
    margin-left:            10px;
    line-height:            31px;
    font-family:            'Droid Sans', Arial;
    font-size:              16px;
    padding:                0 20px 0 10px;
}
#nav1 li:hover {
    background-position:    left -33px;
}
#nav1 li:hover > a {
    background-position:    right -33px;
    color:                  #205aaf;
}
#nav1 li:active, #nav1 li.active {
    background-position:    left -66px;
}
#nav1 li:active > a, #nav1 li.active > a {
    background-position:    right -66px;
    color:                  #FFF;
}

/* Footer */
#footer {
    background:     transparent url(../img/footer-bg.png);
    height:         48px;
    position:       fixed;
    bottom:         0;
    left:           0;
    width:          100%;
    z-index:        99;
}
#footer-content {
    margin:         0 auto;
    width:          930px;
    position:       relative;
}
#footer ul {
    margin:         0;
    padding:        0;
    position:       absolute;
    left:           -4px;
    line-height:    55px;
}
#footer ul li {
    list-style:     none;
    margin:         0;
    padding:        0;
    float:          left;
}
a.share {
    background-image:   url(../img/footer-sprite.png);
    background-repeat:  no-repeat;
    display:            block;
    width:              41px;
    height:             48px;
    text-indent:        -999px;
    overflow:           hidden;
}
#share-sina-link {
    background-position:    0 0;
}
#share-sina-link:hover {
    background-position:    0 -40px;
}
#share-github-link {
    background-position:    -40px 0;
}
#share-github-link:hover {
    background-position:    -40px -40px;
}
#share-douban-link {
    background-position:    -80px 0;
}
#share-douban-link:hover {
    background-position:    -80px -40px;
}
#share-renren-link {
    background-position:    -120px 0;
}
#share-renren-link:hover {
    background-position:    -120px -40px;
}
#share-linkedin-link {
    background-position:    -160px 0;
}
#share-linkedin-link:hover {
    background-position:    -160px -40px;
}
#share-flickr-link {
    background-position:    -200px 0;
}
#share-flickr-link:hover {
    background-position:    -200px -40px;
}
#share-facebook-link {
    background-position:    -240px 0;
}
#share-facebook-link:hover {
    background-position:    -240px -40px;
}
#share-twitter-link {
    background-position:    -280px 0;
}
#share-twitter-link:hover {
    background-position:    -280px -40px;
}
#share-youtube-link {
    background-position:    -320px 0;
}
#share-youtube-link:hover {
    background-position:    -320px -40px;
}
#share-seed-link {
    background-position:    -360px 0;
}
#share-seed-link:hover {
    background-position:    -360px -40px;
}
#footer p {
    position:               absolute;
    right:                  0;
    line-height:            55px;
    padding:                0;
    margin:                 0;
}

/*
	Page style
*/

#container2 {
	width:580px;
	padding:10px;
	margin:25px auto;
	position:relative;
	z-index:1;
}

#example {
	width:600px;
	height:350px;
	position:relative;
}

#ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}

#frame {
	position:absolute;
	z-index:0;
	width:739px;
	height:341px;
	top:-3px;
	left:-80px;
}

/*
	Slideshow
*/

#slides {
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:570px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container a {
	width:570px;
	height:270px;
	display:block;
}

/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:585px;
}

/*
	Pagination
*/
.pagination {
	margin:26px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

